.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(131, 120, 155);
}
body{
    font-family:'Special Elite', cursive;
    background-color:lightpink;
}
.header_div{
    background-color: rgb(224, 154, 166);
    color:#ce2700;
    text-shadow: 2px 2px 5px rgb(116, 23, 119);
}
.header_div p{
    font-family:'Robot', sans-serif;
    color:gray;
    letter-spacing :2px;
    font-size:12px;
    font-weight:bold;
    text-shadow: 2px 2px 5px rgb(139, 74, 141);}
  
.main-div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-shadow: 2px 2px rgb(69, 89, 199);
}
#result_label, #result_count
{
    text-shadow: 2px 2px 5px rgb(99, 18, 88);
}